<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>


<div id="app">
    <div class="container py-3" v-if="auction.isActive">
        <header>
            <div class="pricing-header p-3 pb-md-4 mx-auto text-center" id="is_active_auction">
                <h1 class="display-4 fw-normal" id="auction_name"></h1>
                <p class="fs-5 text-muted"></p>
            </div>
        </header>

        <main>
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Price</th>
                    <th scope="col">User</th>
                    <th scope="col">Date</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="bid in bids" :key="bid.id">
                    <th scope="row">{{bid.id}}</th>
                    <td>{{bid[0].price}}</td>
                    <td>{{bid[0].userUID}}</td>
                    <td>{{bid[0].createdAt}}</td>
                </tr>
                </tbody>
            </table>
        </main>
    </div>
    <div class="alert alert-danger" v-else>
        L'enchère n'est pas encore ouverte.
    </div>
</div>

<script src="https://unpkg.com/vue@3"></script>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

<script>
    const {createApp} = Vue

    var socket;
    createApp({
        data() {
            return {
                auction: {
                    isActive: false,
                },
                bids: [],
            }
        },
        mounted() {
            const userToken = window.location.search.split('=')[1];
            socket = io.connect('http://localhost:2000/');
            socket.on('joined', (data) => {
                this.onJoin(data)
            });
            socket.emit('join', {
                userToken: userToken
            });
            socket.on('bids', (data) => {
                this.getBIds(data)
            });
        },
        methods: {
            onJoin(data) {
                console.log(data)
                this.auction.isActive = true
            },
            sendBid() {
                socket.emit('bid', {
                    bid: document.getElementById("bid_amount").value,
                    userToken: userToken
                });
            },
            getBIds(data) {
                this.bids = data
            }
        }
    }).mount('#app')
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>
