<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="public/assets/js/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="public/assets/js/plugins/ion-rangeslider/css/ion.rangeSlider.css">
    <link rel="stylesheet" href="public/assets/js/plugins/slick-carousel/slick.css">
    <link rel="stylesheet" href="public/assets/js/plugins/slick-carousel/slick-theme.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" id="css-main" href="public/assets/css/dashmix.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>
<body>
<div id="page-container" class="sidebar-mini side-scroll">
    <main id="main-container">
        <div v-if="auction.isActive">
            <div class="bg-body-extra-light">
                <div class="content py-0">
                    <ul class="nav nav-tabs nav-tabs-alt border-bottom-0 justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link text-body-color py-4" id="tab-productsSold"
                               v-on:click="openTab('productsSold')">
                                <i class="fa fa-rocket fa-fw opacity-50"></i> <span class="d-none d-md-inline ms-1">Products sold </span>
                                <span class="nav-main-link-badge badge rounded-pill bg-warning">{{ productsSold.length }}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-body-color py-4 active" id="tab-activeSale"
                               v-on:click="openTab('activeSale')">
                                <i class="fa fa-arrows-alt-h fa-fw opacity-50"></i> <span class="d-none d-md-inline ms-1">Sale in progress</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-body-color py-4" id="tab-productsForSale"
                               v-on:click="openTab('productsForSale')">
                                <i class="fa fa-wallet fa-fw opacity-50"></i> <span class="d-none d-md-inline ms-1">Products for sale </span>
                                <span class="nav-main-link-badge badge rounded-pill bg-primary">{{ productsForSale.length }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="content d-none" id="productsSold">
                <div class="row">
                    <div class="col-md-6 col-xl-4" v-for="product in productsSold" :key="product.id">
                        <!-- House -->
                        <div class="block block-rounded">
                            <div class="block-content p-0 overflow-hidden">
                                <a class="img-link img-fluid-100" data-toggle="layout" data-action="side_overlay_open"
                                   href="javascript:void(0)">
                                    <img class="img-fluid rounded-top" :src="product.image" alt="">
                                </a>
                            </div>
                            <div class="block-content">
                                <h4 class="h6 mb-2">{{ product.name }}</h4>
                                <h5 class="h2 fw-light push">
                                    {{ product.soldPrice }}€ <span class="fs-3 text-muted">sold price</span>
                                </h5>
                            </div>
                            <div class="block-content p-0">
                                <div class="row text-center m-0 border-top border-bottom bg-body-light">
                                    <div class="col-6 border-end">
                                        <p class="py-3 mb-0">
                                            <i class="fa fa-fw fa-clock text-muted me-1"></i> <strong>12:00</strong>
                                        </p>
                                    </div>
                                    <div class="col-6">
                                        <p class="py-3 mb-0">
                                            <i class="fa fa-fw fa-dollar text-muted me-1"></i> <strong>2$</strong> minimum
                                            bid
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="block-content block-content-full">
                                <div class="row">
                                    <div class="col-12">
                                        <a class="btn btn-sm btn-alt-primary w-100" data-toggle="layout"
                                           data-action="side_overlay_open" href="javascript:void(0)">
                                            View
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END House -->
                    </div>
                </div>
            </div>

            <div class="content" id="activeSale">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="block block-rounded">
                            <div class="block-content p-0 overflow-hidden">
                                <div class="row g-0">
                                    <div class="col-md-4 col-lg-5 overflow-hidden d-flex align-items-center">
                                        <a href="">
                                            <img class="img-fluid img-link" :src="activeProduct.image" alt="">
                                        </a>
                                    </div>
                                    <div class="col-md-8 col-lg-7 d-flex align-items-center">
                                        <div class="px-4 py-3">
                                            <h4 class="mb-1">
                                                <a class="text-dark" href="">{{ activeProduct.name }}</a>
                                            </h4>
                                            <h5 class="h5 fw-light push">
                                                Starting at <span class="badge bg-dark">{{ activeProduct.minPrice }}€</span>
                                            </h5>
                                            <h5 class="h5 fw-light push">
                                                Highest bid <span class="badge bg-info">{{ activeProduct.highhestBid }}€</span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6">
                        <div class="block block-rounded">
                            <div class="block-content">
                                <div class="row justify-content-center py-sm-3 py-md-5">
                                    <div class="col-sm-10 col-md-8">
                                        <div class="mb-4">
                                            <label class="form-label" for="user_bid">Your bid</label>
                                            <input required type="text" class="form-control" id="user_bid" placeholder="100">
                                        </div>
                                        <input type="hidden" :value="activeProduct.id" class="form-control" id="product_id">
                                        <button class="w-100 btn btn-success" v-on:click="sendBid">Place your bid</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12">
                        <div class="block block-rounded">
                            <div class="block-header block-header-default">
                                <h3 class="block-title">Last Bids</h3>
                            </div>
                            <div class="block-content">
                                <table class="table table-vcenter">
                                    <thead>
                                    <tr class="bg-body-dark">
                                        <th class="text-center" style="width: 50px;">#</th>
                                        <th>User</th>
                                        <th class="d-none d-sm-table-cell" style="width: 15%;">Bids</th>
                                    </tr>
                                    </thead>
                                    <tbody v-for="bid in activeProduct.bids" :key="bid.id">
                                    <tr>
                                        <th class="text-center" scope="row">{{bid.id}}</th>
                                        <td class="fw-semibold">
                                            <a href="javascript:void(0)">{{bid.username}}</a>
                                        </td>
                                        <td class="d-none d-sm-table-cell">
                                            <span class="badge bg-success">{{ bid.price }}€</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content d-none" id="productsForSale">
                <div class="row">
                    <div class="col-md-6 col-xl-4" v-for="product in productsForSale" :key="product.id">
                        <!-- House -->
                        <div class="block block-rounded">
                            <div class="block-content p-0 overflow-hidden">
                                <a class="img-link img-fluid-100" data-toggle="layout" data-action="side_overlay_open"
                                   href="javascript:void(0)">
                                    <img class="img-fluid rounded-top" :src="product.image" alt="">
                                </a>
                            </div>
                            <div class="block-content">
                                <h4 class="h6 mb-2">{{ product.name }}</h4>
                                <h5 class="h2 fw-light push">
                                    {{ product.minPrice }}€ <span class="fs-3 text-muted">start price</span>
                                </h5>
                            </div>
                            <div class="block-content p-0">
                                <div class="row text-center m-0 border-top border-bottom bg-body-light">
                                    <div class="col-6 border-end">
                                        <p class="py-3 mb-0">
                                            <i class="fa fa-fw fa-clock text-muted me-1"></i> <strong>12:00</strong>
                                        </p>
                                    </div>
                                    <div class="col-6">
                                        <p class="py-3 mb-0">
                                            <i class="fa fa-fw fa-dollar text-muted me-1"></i> <strong>2$</strong> minimum
                                            bid
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="block-content block-content-full">
                                <div class="row">
                                    <div class="col-12">
                                        <a class="btn btn-sm btn-alt-primary w-100" data-toggle="layout"
                                           data-action="side_overlay_open" href="javascript:void(0)">
                                            View
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END House -->
                    </div>
                </div>
            </div>
        </div>
        <div v-else>
            <div class="alert alert-warning text-center mb-0 mt-5">
                Auction is not started yet.
            </div>
        </div>

    </main>
</div>
<script src="public/assets/js/dashmix.app.min.js"></script>
<script src="public/assets/js/lib/jquery.min.js"></script>
<script src="public/assets/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="public/assets/js/plugins/ion-rangeslider/js/ion.rangeSlider.min.js"></script>
<script src="public/assets/js/plugins/slick-carousel/slick.min.js"></script>
<script src="https://unpkg.com/vue@3"></script>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script>Dashmix.helpersOnLoad(['jq-datepicker', 'jq-rangeslider', 'jq-slick']);</script>
<script>
    const {createApp} = Vue

    var socket;
    createApp({
        data() {
            return {
                auction: {
                    isActive: null,
                    name: null
                },
                bids: [],
                userToken: null,
                zoneId: null,
                name: null,
                productsSold: [],
                productsForSale: [],
                activeProduct: {
                    id: null,
                    name: null,
                    minPrice: null,
                    image: null,
                    bids: [],
                    highhestBid: 0,
                }
            }
        },
        mounted() {
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            this.userToken = urlParams.get('userToken');
            this.zoneId = urlParams.get('zone');
            this.name = urlParams.get('name');
            socket = io.connect('http://localhost:2000/', {
                query: {
                    zoneId: this.zoneId,
                }
            });
            socket.on('joined', (data) => {
                this.onJoin(data)
            });
            socket.emit('join', {
                userToken: this.userToken,
            });
            socket.on('bids', (data) => {
                this.getBIds(data)
            });
            socket.on('products-sold', (data) => {
                this.getProductsSold(data)
            });
            socket.on('products-for-sale', (data) => {
                this.getProductsForSale(data)
            });
            socket.on('active-product', (data) => {
                this.getActiveProduct(data)
            });
        },
        methods: {
            openTab(tab) {
                document.getElementById('productsSold').classList.add('d-none');
                document.getElementById('activeSale').classList.add('d-none');
                document.getElementById('productsForSale').classList.add('d-none');
                document.getElementById('tab-productsSold').classList.remove('active');
                document.getElementById('tab-activeSale').classList.remove('active');
                document.getElementById('tab-productsForSale').classList.remove('active');
                document.getElementById(tab).classList.remove('d-none');
                document.getElementById(tab).classList.add('d-block');
                document.getElementById('tab-' + tab).classList.add('active');
            },
            onJoin(data) {
                this.auction = data.auction
            },
            sendBid() {
                if (document.getElementById('user_bid').value !== "") {
                    if (parseInt(document.getElementById('user_bid').value) > parseInt(this.activeProduct.highhestBid)
                        && (parseInt(document.getElementById('user_bid').value) > parseInt(this.activeProduct.minPrice))) {
                        socket.emit('new-bid', {
                            bid: document.getElementById('user_bid').value,
                            userToken: this.userToken,
                            productId: document.getElementById('product_id').value,
                            name: this.name
                        });
                    } else {
                        toastr.error('Bid must be higher than current highhest bid')
                    }
                } else {
                    toastr.error('You must enter a bid')
                }
            },
            getBIds(data) {
                this.activeProduct.bids = data.bids
            },
            getProductsSold(data) {
                this.productsSold = data.products
            },
            getProductsForSale(data) {
                this.productsForSale = data.products
            },
            getActiveProduct(data) {
                this.activeProduct = data.product
                this.activeProduct.bids = data.product.Bids
                if (data.product.Bids.length > 0) {
                    this.activeProduct.highhestBid = data.product.Bids[0].price
                } else {
                    this.activeProduct.highhestBid = 0
                }
            }
        }
    }).mount('#page-container')
</script>
</body>
</html>
